/* Reseting htmls elements */

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
dialog,
footer,
header,
main,
menu,
nav,
section {
  display: block;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

b,
strong {
  font-weight: bold;
}

h2 {
  font-size: 2em;
  margin: 0.67em 0;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

button,
input {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}


/* General base styles */

* {
  box-sizing: border-box;
  line-height: 1.2;
}

:root {
  --color-pink: #FF005C;
  --color-blue: #2E4FFF;
  --color-yellow: #FFC700;
  --color-black: #050505;
  --color-white: #FFFFFF;
  --color-text: #394356;
  --spacing--side: 8.75vw;
}

html,
body {
  width: 100vw;
  overflow-x: hidden;
  font-family: 'Inter', sans-serif;
  background-color: var(--color-black);
  color: var(--color-white);
}

h1,
h2,
h3 {
  margin: 0;
}

h2 {
  font-size: 32px;
  font-weight: 300;
  margin: 0.4em 0 0.6666em 0;
}

h3 {
  font-size: 24px;
  font-weight: 500;
}

p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

a {
  color: var(--color-white);
  text-decoration: none;
}

a:active,
a:focus {
  outline: none;
}

.button {
  font-size: 18px;
  font-weight: 500;
  padding: 16px 40px;
  border-radius: 30px;
  display: inline-block;
  background-color: var(--color-blue);
  text-decoration: none;
  width: 100%;
  text-align: center;
}

.button {
  overflow: hidden;
  position: relative;
}

.button:after {
  background: #fff;
  content: "";
  height: 155px;
  left: -75px;
  position: absolute;
  top: -50px;
  width: 50px;
  z-index: 0;
  transform: rotate(35deg);
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  opacity: 0.25;
}

.button__secondary {
  padding: 14px 40px;
  border: 2px solid rgba(255, 255, 255, 0.4);
  background-color: transparent;
  transition: 0.3s;
}

.button__tertiary {
  background-color: var(--color-pink);
  transition: 0.3s;
}

.button:hover {
  background: linear-gradient(-225deg, #112EC5 0%, #D92057 125%);
}

.button__secondary:hover {
  background-color: var(--color-pink);
}

.button__tertiary:hover {
  background-color: var(--color-blue);
}

.button:hover:after {
  left: 120%;
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}

.button__primary-span {
  z-index: 20;
  font-size: 16px;
}

.button__secondary-span,
.button__tertiary-span {
  font-size: 18px;
}

.container {
  padding: 0 var(--spacing--side);
}


/* Header */

.header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: 100;
  background-color: var(--color-black);
}

.header.hidden {
  opacity: 0;
}

.header__logo {
  margin: 0;
  position: relative;
  z-index: 103;
  animation: fromTop 0.75s ease-in-out;
}

.header__logo.hidden {
  opacity: 0;
}

.header__logo-link {
  display: block;
  padding: 20px 0;
}

.header__nav-toggle {
  display: inline-block;
  line-height: 80px;
  height: 80px;
  padding-top: 27.5px;
}

.header__logo-image,
.header__nav-toggle-img {
  display: block;
}

.header__list {
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 100px 40px 0;
  transform: translateY(-100vh);
  opacity: 0;
  align-items: center;
  transition: opacity 0.2s, transform 0.5s;
  background-color: var(--color-black);
}

.header__button {
  padding: 13px 30px;
  margin-top: 20px;
}

.header__item:nth-child(1) {
  animation: 0.15s ease 0.5s both fromTop;
}

.header__item:nth-child(2) {
  animation: 0.25s ease 0.5s both fromTop;
}

.header__item:nth-child(3) {
  animation: 0.35s ease 0.5s both fromTop;
}

.header__item:nth-child(4) {
  animation: 0.45s ease 0.5s both fromTop;
}

.header__item:nth-child(5) {
  animation: 0.55s ease 0.5s both fromTop;
}

.header__nav--open .header__list {
  transform: translateY(0);
  opacity: 1;
}

.header__link {
  font-size: 18px;
  padding: 20px;
  line-height: 60px;
  position: relative;
}

.header__link:hover {
  background: rgba(255, 255, 255, 1);
  background: -webkit-linear-gradient( left, #ffffff 0%, #D92057 25%, #8da0ff 50%, #ffffff 100%) repeat;
  -webkit-background-clip: text;
  -ms-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -ms-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  text-fill-color: transparent;
  -webkit-animation-name: text-masked-animation;
  -webkit-animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

@-webkit-keyframes text-masked-animation {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 1000px 0px;
  }
}

.header__close {
  display: none;
}

.header__nav--open .header__close {
  display: block;
  position: absolute;
  top: 0;
  right: 15px;
  width: 80px;
  height: auto;
  padding: 30px;
  z-index: 102;
}


/* Main banner */

.banner {
  height: calc(90vh - 80px);
  padding-top: 10vh;
  margin-top: 80px;
  position: relative;
  overflow: hidden;
}

.banner::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url('../img/banner.jpg') no-repeat center center;
  background-size: cover;
  animation: pulse-banner 20s ease;
}

.banner .container {
  position: absolute;
  z-index: 1;
  width: 100%;
  box-sizing: border-box;
}

.banner__subtitle {
  animation: 1s ease 0.5s both fromLeft;
}

.banner__title {
  animation: 1s ease 0.75s both fromLeft;
}

.banner__button-primary {
  animation: 1s ease 1s both fromBottom;
}

.banner__button__secondary {
  animation: 1s ease 1.25s both fromBottom;
  margin: 30px 0 0 0;
}

.banner__button-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}


/* Features */

.features {
  background: linear-gradient(-225deg, #112EC5 0%, #D92057 125%);
  padding-bottom: 180px;
  text-align: center;
}

.features__container {
  margin: 0 0 80px 0;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 3.75vw;
}

.features__item {
  flex: 1;
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: 30px;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  transition: 1s ease;
}

.features__item:hover {
  filter: drop-shadow(0 15px 7px rgba(0, 0, 0, 0.5));
}

.features__item.loaded:nth-child(1) {
  animation: 0.5s ease 1s both fromBottom;
}

.features__item.loaded:nth-child(2) {
  animation: 0.5s ease 1.25s both fromBottom;
}

.features__item.loaded:nth-child(3) {
  animation: 0.5s ease 1.5s both fromBottom;
}

.features__item.hidden {
  opacity: 0;
}

.features__inner {
  overflow: hidden;
  clip-path: polygon(100% 0, 100% 90%, 88% 100%, 0 100%, 0 0);
}

.features__image {
  display: block;
}

.features__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(22, 26, 37, 0) 50%, rgba(22, 26, 37, 0.6));
}

.features__content {
  text-align: left;
  position: absolute;
  bottom: 30px;
  left: 30px;
}

.features__title {
  margin-bottom: 0.4em;
}

.features__text {
  font-size: 18px;
  color: var(--color-yellow);
}


/* Quote  */

.quote {
  max-width: 960px;
  margin: 0 auto;
  height: 380px;
}

.quote__card.hidden {
  opacity: 0;
}

.quote__text.hidden {
  opacity: 0;
  line-height: 1em;
}

.quote__text {
  font-size: 26px;
  font-weight: 500;
  margin: 0 var(--spacing--side) 1em var(--spacing--side);
}

.quote__text.loaded {
  animation: 1.25s fromTop ease both;
}

.quote__card.hidden {
  opacity: 0;
}

.quote__card.loaded {
  animation: 1s fromTop 0.25s ease both;
}

.quote__image {
  width: 64px;
  height: auto;
  border-radius: 32px;
}

.quote__text,
.quote__name,
.quote__location {
  display: block;
  line-height: 150%;
}

.quote__location {
  opacity: 60%;
}


/* Video */

.workouts {
  justify-content: space-between;
  padding-bottom: 40px;
  background-color: var(--color-white);
  color: var(--color-black);
}

.workouts__video.hidden {
  opacity: 0;
}

.workouts__video {
  display: inline-block;
  width: calc(100vw - 2 * var(--spacing--side));
  position: relative;
  margin: -100px 0 0 var(--spacing--side);
  transition: opacity 0.5s, transform 0.5s;
  cursor: pointer;
}

.workouts__video.loaded {
  animation: 1s ease 0.25s both fromLeft;
}

.workouts__video-image {
  transition: transform 0.5s;
}

.workouts__video:hover .workouts__video-image {
  transform: scale(1.05);
}

.workouts__video-play-button {
  max-width: 128px;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.5s, transform 0.5s;
}

.workouts__video:hover .workouts__video-play-button {
  opacity: 0.5;
}

.workouts__content {
  padding: 60px var(--spacing--side) 0 var(--spacing--side);
  align-self: center;
  transition: opacity 0.4s 0.2s, transform 0.4s 0.2s;
}

.workouts__subtitle {
  color: var(--color-blue);
  font-size: 24px;
  font-weight: 500;
  display: block;
}

.workouts__text {
  font-size: 18px;
  margin-bottom: 40px;
  color: var(--color-text);
  line-height: 150%;
}

.workouts__content.loaded .workouts__subtitle {
  animation: 1s ease 0.25s both fromRight;
}

.workouts__content.loaded .workouts__title {
  animation: 1s ease 0.5s both fromRight;
}

.workouts__content.loaded .workouts__text {
  animation: 1s ease 0.75s both fromRight;
}

.workouts__content.loaded .workouts__button {
  animation: 1s ease 1s both fromRight;
}


/* modal */

.workouts__dialog {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 101;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  opacity: 0;
  transition: opacity 0.3s;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: none;
}

.workouts__dialog.open {
  display: block;
  opacity: 0;
}

.workouts__dialog.openning {
  opacity: 1;
}

.workouts__dialog-inner {
  width: 90%;
  height: 300px;
  max-width: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.5);
  transition: opacity 0.4s, transform 0.4s;
  background-color: var(--color-white);
}

.workouts .openning .workouts__dialog-inner {
  transform: translate(-50%, -50%);
  opacity: 1;
}

.workouts__icon-close {
  cursor: pointer;
  width: 70px;
  height: auto;
  padding: 25px;
  position: absolute;
  top: 0;
  right: 0;
}


/* Playlist  */

.playlists {
  background-color: var(--color-white);
  padding-top: 40px;
}

.playlists__inner {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 3.75vw;
}

.playlists__title-main {
  color: var(--color-black);
  margin-bottom: 30px;
  font-weight: 500;
}

.playlists__item,
.level {
  text-align: center;
  margin-bottom: 30px;
}

.playlists__item.loaded:nth-child(1) {
  animation: 0.5s ease both fromBottom;
}

.playlists__item.loaded:nth-child(2) {
  animation: 0.5s ease 0.25s both fromBottom;
}

.playlists__item.loaded:nth-child(3) {
  animation: 0.5s ease 0.5s both fromBottom;
}

.playlists__item.hidden {
  opacity: 0;
}

.playlists__clip-path {
  width: 0;
  height: 0;
}

.playlists__image {
  -webkit-clip-path: url(#svgClipPath);
  clip-path: url(#svgClipPath);
}

.playlists__title {
  margin: 20px 0 10px 0;
  color: var(--color-black);
}

.playlists__text {
  color: var(--color-blue);
}


/* subscribe */

.subscribe {
  height: 90vh;
  background: url('../img/subscribe.jpg') no-repeat center center;
  background-size: cover;
}

.subscribe__overlay {
  height: 100%;
  padding: 100px 0;
  background: linear-gradient(90deg, var(--color-black) 0%, rgba(5, 5, 5, 0.5) 70%);
}

.subscribe__content {
  width: calc(100vw - 2 * var(--spacing--side));
  height: 100%;
  margin-left: var(--spacing--side);
}

.subscribe__content.hidden {
  opacity: 0;
}

.subscribe__content.loaded {
  opacity: 1
}

.subscribe__content-inner {
  width: calc(100vw - 2 * var(--spacing--side));
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.subscribe__text {
  font-size: 18px;
  line-height: 150%;
  margin-bottom: 40px;
}

.subscribe__form {
  display: flex;
}

.subscribe__subtitle,
.banner__subtitle {
  font-size: 24px;
  color: var(--color-pink);
  font-weight: 500;
}

.subscribe__content.loaded .subscribe__subtitle {
  animation: 1s ease 0.25s both fromLeft;
}

.subscribe__content.loaded .subscribe__title {
  animation: 1s ease 0.5s both fromLeft;
}

.subscribe__content.loaded .subscribe__text {
  animation: 1s ease 0.75s both fromLeft;
}

.subscribe__content.loaded .subscribe__form {
  animation: 1s ease 1s both fromLeft;
}

.subscribe__input,
.subscribe__button {
  font-size: 18px;
  line-height: 54px;
  height: 54px;
  border: none;
  outline: none;
  padding: 0;
}

.subscribe__input {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  width: 60%;
  padding-left: 25px;
  color: var(--color-black);
}

.subscribe__button {
  font-weight: 500;
  text-align: center;
  transition: border-radius 0.2s ease-out;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color: var(--color-blue);
  width: 40%;
  padding: 0 25px;
  transition: 0.5s ease;
}

.subscribe__button:hover {
  background: var(--color-pink);
}


/* Levels */

.levels {
  text-align: center;
  padding: 100px var(--spacing--side);
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 3.75vw;
}

.levels__item.loaded:nth-child(1) {
  animation: 0.5s ease both fromBottom;
}

.levels__item.loaded:nth-child(2) {
  animation: 0.5s ease 0.25s both fromBottom;
}

.levels__item.loaded:nth-child(3) {
  animation: 0.5s ease 0.5s both fromBottom;
}

.levels__item.hidden {
  opacity: 0;
}

.levels__item {
  border: 4px solid var(--color-blue);
  border-radius: 16px;
  padding: 50px 30px;
  transition: 1s ease;
}

.levels__item:hover {
  box-shadow: 0px 0px 20px 7px rgba(46, 79, 255, 1);
}

.levels__icon {
  height: 8vw;
  min-height: 80px;
  width: auto;
  margin-bottom: 60px;
  transition: all 2s;
}

.levels__item:hover .levels__icon {
  transform: scale(1.25);
}

.levels__subtitle,
.levels__text {
  line-height: 150%;
}

.levels__subtitle {
  color: var(--color-yellow);
  display: block;
  font-size: 18px;
  margin: 9px 0 20px 0;
}


/* Testimonials */

.testimonials {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 3.75vw;
  text-align: center;
  padding: 80px var(--spacing--side) 120px;
  background-color: var(--color-white);
  color: var(--color-text);
}

.testimonials .image {
  height: 54px;
  margin-bottom: 35px;
}

.testimonials__item {
  margin-bottom: 30px;
  transition: opacity 0.4s, transform 0.4s;
}

.testimonials__item.hidden {
  opacity: 0;
  transform: translateY(-100px);
}

.testimonials__image-container {
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: center;
}

.testimonials__image--meteor {
  margin-top: -16px;
}

.testimonials__text {
  font-size: 16px;
  line-height: 150%;
}


/* Footer */

.footer {
  text-align: center;
  padding: 40px 0;
}

.footer__text {
  font-size: 16px;
}


/* Desktop and tablet media queries */

@media screen and (min-width: 600px) {
  .banner {
    height: 60vw;
  }
  .button {
    width: auto;
  }
  .header__button {
    margin-left: 20px;
    margin-top: 0;
  }
  .features__container {
    grid-template-columns: repeat(3, 1fr);
  }
  .features__item {
    margin: -100px 0 0 0;
  }
  .features__overlay {
    background: linear-gradient(rgba(22, 26, 37, 0.2), rgba(22, 26, 37, 0.8));
  }
  .features__content {
    bottom: 50%;
    transform: translateY(50%);
  }
  .feature__text {
    font-size: 16px;
  }
  .subscribe {
    height: 68vw;
  }
}

@media screen and (min-width: 960px) {
  .banner__title,
  .workouts__title,
  .subscribe__title {
    font-size: calc(60 / 1680 * 100vw);
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 28px;
  }
  .playlists__inner {
    grid-template-columns: repeat(3, 1fr);
  }
  .header__list {
    display: flex;
    position: static;
    transform: none;
    opacity: 1;
    padding: 0;
    transition: none;
  }
  .header__link {
    line-height: 80px;
  }
  .header__link.button {
    padding: 13px 30px;
    margin-left: 20px;
  }
  .header__nav-toggle {
    display: none;
  }
  .banner {
    height: 42vw;
    /* 700px / 1680px */
    padding-top: 10%;
  }
  .banner__title {
    margin-bottom: 1em;
  }
  .banner__button-container {
    flex-direction: row;
  }
  .banner__button__secondary {
    margin: 0 0 0 20px;
  }
  .features__overlay {
    background: linear-gradient(rgba(22, 26, 37, 0) 50%, rgba(22, 26, 37, 0.6));
  }
  .features__content {
    bottom: 30px;
    transform: none;
  }
  .quote,
  .quote>article {
    height: 350px;
  }
  .quote p {
    font-size: 40px;
    margin: 0 0 1em 0;
  }
  .workouts {
    display: flex;
    padding-bottom: 60px;
  }
  .workouts__video {
    width: 47%;
    margin: -100px 0 0 0;
  }
  .workouts__content {
    width: 50%;
    padding: 0 var(--spacing--side) 0 20px;
  }
  .playlists__item,
  .level {
    margin-bottom: 0;
  }
  .playlists__text {
    font-size: 18px;
  }
  .subscribe {
    height: 48vw;
  }
  .subscribe__overlay {
    padding: 0;
    background: linear-gradient(90deg, var(--color-black) 0%, rgba(5, 5, 5, 0) 70%);
  }
  .subscribe__content,
  .subscribe__content-inner {
    width: 50vw;
  }
  .subscribe__input {
    font-size: 18px;
  }
  .subscribe__input {
    width: 300px;
  }
  .subscribe__button {
    padding: 0 46px;
    width: auto;
  }
  .levels {
    padding: 140px var(--spacing--side);
    grid-template-columns: repeat(3, 1fr);
  }
  .levels__item {
    padding: 70px 50px;
  }
  .testimonials {
    grid-template-columns: repeat(4, 1fr);
  }
  .testimonials__item {
    margin-bottom: 0;
  }
  .footer {
    font-size: 16px;
  }
}


/* Animations */

@keyframes pulse-banner {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

@-webkit-keyframes pulse-banner {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes text-masked-animation {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 1000px 0px;
  }
}

@-webkit-keyframes text-masked-animation {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 1000px 0px;
  }
}

@-webkit-keyframes fromBottom {
  from {
    -webkit-transform: translate3d(0, 80px, 0);
    transform: translate3d(0, 80px, 0);
    opacity: 0
  }
}

@keyframes fromBottom {
  from {
    -webkit-transform: translate3d(0, 80px, 0);
    transform: translate3d(0, 80px, 0);
    opacity: 0
  }
}

@-webkit-keyframes fromTop {
  from {
    -webkit-transform: translate3d(0, -80px, 0);
    transform: translate3d(0, -80px, 0);
    opacity: 0
  }
}

@keyframes fromTop {
  from {
    -webkit-transform: translate3d(0, -80px, 0);
    transform: translate3d(0, -80px, 0);
    opacity: 0
  }
}

@-webkit-keyframes fromLeft {
  from {
    -webkit-transform: translate3d(-100px, 0, 0);
    transform: translate3d(-100px, 0, 0);
    opacity: 0
  }
}

@keyframes fromLeft {
  from {
    -webkit-transform: translate3d(-100px, 0, 0);
    transform: translate3d(-100px, 0, 0);
    opacity: 0
  }
}

@-webkit-keyframes fromRight {
  from {
    -webkit-transform: translate3d(100px, 0, 0);
    transform: translate3d(100px, 0, 0);
    opacity: 0
  }
}

@keyframes fromRight {
  from {
    -webkit-transform: translate3d(100px, 0, 0);
    transform: translate3d(100px, 0, 0);
    opacity: 0
  }
}